<h2>Folder show page</h2>

<% @folder.paragraphs.each do |p| %>
  <%= link_to folder_paragraph_path(@folder, p) do %>
    <p><%= p.name %></p>
  <% end %>
<% end %>

<p>Create quizess</p>
<%= simple_form_for @paragraph, :url => folder_paragraphs_path(@folder) do |f|  %>
  <%= f.input :name %>
  <%= f.input :sentence %>
  <%= f.submit %>
<% end %>
