<div class="container">
  <div class="head d-flex">
    <h2>Create Blanks</h2>

    <div class="reset-btn btn">
      <p>Reset Blanks</p>
    </div>
  </div>
  <div class="explanation">
    <p>Please click the first letter and the last letter for blanks!</p>
  </div>


 <table>
      <tbody>
        <tr>
          <% @letter_array.each_with_index do |letter, index| %>
            <td style="text-align: center" class="letter" data-letter-index='<%= index %>'><p><%=letter%></p></td>
          <% end %>
        </tr>
      </tbody>
  </table>

  <%= simple_form_for @blank, :url => folder_paragraph_blanks_path(@paragraph) do |f| %>
    <% 0.upto(20) do |i| %>
      <% n = i + 1 %>
      <%= f.input_field :first_index, multiple: true, class: 'input_form', id: i + n, as: :hidden %>
      <% n += 1 %>
      <%= f.input_field :end_index, multiple: true, class: 'input_form', id: i + n, as: :hidden %>
    <% end %>
    <%= f.submit class: "new_blank_btn"  %>
  <% end %>

</div>
