<%= link_to folder_path(@paragraph.folder) do %>
  <p>←Back</p>
<% end %>

<h1>Paragraph show page</h1>
<div class="page-container">
  <div class="practice-container">


    <div class="paragraph-card">
      <div class="title d-flex">
        <h2><%= @paragraph.name %></h2>
        <%= link_to edit_folder_paragraph_path(@paragraph.folder, @paragraph) do %>
          <i class="fas fa-pen"></i>
        <% end %>
      </div>
      <p><%= @practice_paragraph %></p>
      <div class="option-footer">
        <!-- add a link here -->
        <%= link_to edit_folder_paragraph_blank_path(@paragraph.folder, @paragraph) do %>
          <p>Reset & Edit blanks</p>
        <% end %>

        <%= link_to destroy_paragraph_path(@paragraph.folder, @paragraph), method: :delete, data: {confirm: "Are you sure?"} do  %>
          <p class="delete-option">Delete this practice</p>
        <% end %>


      </div>
    </div>

    <div class="answer-cards-card">
      <% @blanks.each_with_index do |blank, index| %>
        <div class="card-product-infos flip-card" >
          <div class="flip-card-inner" onclick="this.classList.toggle('flipped');">
            <div class="flip-card-front">
              <h2>(<%= index + 1 %>) Answer</h2>
            </div>
            <div class="flip-card-back">
              <!-- put answer -->
              <h2>(<%= index + 1 %>) <%= @paragraph.sentence[blank.first_index..blank.end_index] %></h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>


  </div>
</div>
